.form-warning {
  align-items: center;
  color: $brand-orange-warning;
  font-size: $font-size-medium;
  margin-top: 3px;

  // scss-lint:disable PlaceholderInExtend
  // Disabling this rule because we are not specifying our icons as %placeholders
  @extend .icon-validation-warning;
  // scss-lint:enable PlaceholderInExtend

  &:before {
    display: none;
    font-family: $font-family-icons;
    font-size: $font-size-small;
    margin-right: 5px;
  }
}
